<%- include ('../../../../partials/admin/header') -%>

<title>Home</title>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Master Peminjaman</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>
        <%   
  let no = 1;
   %>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal Peminjaman</th>
                        <th>Tanggal Pengembalian</th>
                        <th>Status</th>
                        <th>NIP</th>
                        <th>ISBN</th>
                        <th>No Registrasi</th>

                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                    <% data.forEach((datpin) => { %>
                    <tr>
                        <td> <%= no++ %> </td>
                        <td> <%= datpin.tanggal_peminjaman %> </td>
                        <td> <%= datpin.tanggal_pengembalian %> </td>
                        <td> <%= datpin.status %> </td>
                        <td> <%= datpin.nip %> </td>
                        <td> <%= datpin.isbn %> </td>
                        <td> <%= datpin.no_registrasi %> </td>

                    </tr>
                    <% }) %>
                    <% } %>
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- import data footer -->

<%- include ('../../../../partials/admin/footer') -%>