<!-- import data header -->
<%- include ('../../partials/admin/header') -%>

<title>Dashboard</title>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>



  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <!-- mencetak data yang dikirim app.js -->
              <h3><%= buku %></h3>

              <p>Total Buku</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas faarrow-circle-right"></i></a>



          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <!-- mencetak data yang dikirim app.js -->
              <h3><%= ebook %></h3>
              <p>Total Ebook</p>
            </div>
            <div class="icon">
              <i class="ion ion-usb"></i>
            </div>

            <a href="#" class="small-box-footer">More info <i class="fas faarrow-circle-right"></i></a>


          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <!-- mencetak data yang dikirim app.js -->
              <h3><%= anggota %></h3>

              <p>Total Anggota</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>

            <a href="#" class="small-box-footer">More info <i class="fas faarrow-circle-right"></i></a>

          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <!-- mencetak data yang dikirim app.js -->

              <h3><%= peminjaman %></h3>
              <p>Total Peminjaman</p>

            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>

            <a href="#" class="small-box-footer">More info <i class="fas faarrow-circle-right"></i></a>

          </div>
        </div>
        <!-- ./col -->
      </div>
    </div>


    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- import data footer -->


<%- include ('../../partials/admin/footer') -%>